@import url('https://fonts.googleapis.com/css?family=Gugi|Ubuntu');
html {
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
    background-color: #033b78;
    animation-name: example;
    animation-duration: 22s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        background-color: #033b78;
    }
    25% {
        background-color: rgb(5, 30, 145);
    }
    50% {
        background-color: rgb(9, 9, 53);
    }
    75% {
        background-color: rgb(2, 103, 110);
    }
    100% {
        background-color: #033b78;
    }
}

nav {
    display: flex;
    justify-content: center;
    margin: 0% 0% 9% 0%;
    background-color: #154271;
}

.hovernav {
    padding: 4% 0%;
    margin: 0px 30px;
}

.hovernav:hover {
    background-color: #00000023;
}

#titelbild {
    border-radius: 50px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    width: 5%;
    float: right;
    margin: 1% 0% 0% 1%;
    position: fixed;
}

#titelbild:hover {
    background-color: #001429;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

li {
    margin: 0px 50px;
    margin: 0px 5px;
}

header {
    box-shadow: 24px 16px 30px -1px rgba(0, 0, 0, 0.41);
}

a {
    text-decoration: none;
    color: #dfecfb;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
}

#titelh1 {
    display: flex;
    justify-content: center;
    margin-right: 0px;
    padding-top: 2%;
}

#titel {
    padding-bottom: 5%;
    background-color: #02254b;
}

body {
    color: #dfecfb;
}

#liststyle {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0%;
    padding: 0%;
}

main {
    margin-right: 9%;
    margin-left: 9%;
    background-color: #001429;
    box-shadow: 7px 0px 86px 3px rgba(0, 0, 0, 0.7);
    padding-left: 11%;
    padding-right: 11%;
    padding-bottom: 3%;
    color: #dfecfb;
}

hr {
    background: rgb(255, 255, 255);
    border: none;
    color: rgb(255, 255, 255);
    height: 2px;
    width: 100%;
}

h1 {
    margin: 0%;
    text-align: justify
}

h2 {
    font-size: 21px;
}

ul {
    text-align: justify;
}

.style1 {
    text-align: justify;
    margin-top: 5%;
    margin-bottom: 15%;
}

td {
    border: solid 2px white;
}

p {
    margin-top: 30px;
    text-align: justify;
}

img {
    box-shadow: 10px 9px 0px 0px rgba(155, 155, 155, 0.719);
    width: 100%
}

.begriff {
    background-color: #154271;
    text-align: center;
}

.erklarung {
    background-color: #154271;
    text-align: center;
}

.herv {
    color: #00ff68;
    margin-top: -1%;
}

#mysql {
    width: 100%;
}

.link {
    color: #00ff68;
}

.innerjoin {
    width: 30%;
}

#open {
    float: right;
    position: fixed;
    margin: -3% 0% 0% 92%;
    background-color: #04add9;
    padding: 0.45%;
    border-radius: 12px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

#inhaltsverzeichnis {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    width: 100vW;
    height: 100vH;
    opacity: 0.95;
    color: white;
    text-align: center;
    z-index: 4;
}

#close {
    position: absolute;
    right: 20px;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    margin: 0.25% 0%;
}

.dropdown-content :hover {
    border-radius: 12px;
    box-shadow: 1px 1px 5px 0px rgba(154, 166, 175, 0.7);
}

.dropdowna {
    text-align: left;
    margin: 0% 3% 0% 2%;
    padding: 1% 1% 1% 1%;
}

#ueberschrift {
    margin: 3% 33% 0% 1%;
    padding: 1%;
    font-size: 200%;
    background-color: #bb1524;
    border-radius: 12px;
    box-shadow: 5px 5px 5px 0px rgba(154, 166, 175, 0.7);
}

#close {
    margin: 4% 7% 0% 0%;
    padding: 1%;
    border-radius: 12px;
    background-color: #bb1524;
    float: right;
    box-shadow: 2px 3px 1px 0px rgba(154, 166, 175, 0.7);
    color: white;
}

@media screen and (max-width: 769px) {
    main {
        margin-right: -1%;
        margin-left: -1%;
        background-color: #001429;
        box-shadow: 7px 0px 86px 3px rgba(0, 0, 0, 0.7);
        padding-left: 22%;
        padding-right: 22%;
        padding-bottom: 3%;
        color: #dfecfb;
    }
    #open {
        float: right;
        position: fixed;
        margin: -5% 0% 0% 86%;
        background-color: #04add9;
        padding: 0.45%;
        border-radius: 12px;
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    }
    #titelbild {
        border-radius: 50px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.75);
        width: 6%;
        float: right;
        margin: 1% 0% 0% 1%;
        position: fixed;
    }
    #titelbild:hover {
        background-color: #001429;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }
    a {
        text-decoration: none;
        color: #dfecfb;
        font-size: 14px;
        font-family: 'Ubuntu', sans-serif;
    }
    h1 {
        margin: 0%;
        text-align: left;
        font-size: 15px;
    }
    #titelh1 {
        display: flex;
        justify-content: center;
        margin-right: 0px;
        padding-top: 2%;
        font-size: 25px;
    }
    p {
        font-size: 10px;
        text-align: left;
    }
    h2 {
        font-size: 14px;
        text-align: center;
    }
    li {
        font-size: 10px;
        text-align: left;
    }
    td {
        border: solid 2px white;
        text-align: left;
        font-size: 10px;
    }
}