@import url('https://fonts.googleapis.com/css?family=Gugi|Ubuntu');
html {
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
    background-color: #033b78;
    animation-name: example;
    animation-duration: 22s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        background-color: #033b78;
    }
    25% {
        background-color: rgb(5, 30, 145);
    }
    50% {
        background-color: rgb(9, 9, 53);
    }
    75% {
        background-color: rgb(2, 103, 110);
    }
    100% {
        background-color: #033b78;
    }
}

nav {
    display: flex;
    justify-content: center;
    margin: 0% 0% 9% 0%;
    background-color: #154271;
    z-index: 3;
    -webkit-box-shadow: 8px 39px 49px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 39px 49px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 8px 39px 49px -14px rgba(0, 0, 0, 0.75);
}

.hovernav {
    padding: 4% 0%;
}

.hovernav:hover {
    background-color: #00000023;
}

#titelbild {
    border-radius: 50px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    width: 71.34px;
    float: right;
    margin: 0.6% 0% 0% 1%;
    position: fixed;
    z-index: 4;
}

#titelbild:hover {
    background-color: #001429;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

li {
    margin: 0px 50px;
    margin: 0px 5px;
    color: springgreen;
}

.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 9px;
}

#navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 11px;
}

.sticky+.content {
    padding-top: 60px;
}

header {
    box-shadow: 24px 16px 30px -1px rgba(0, 0, 0, 0.41);
}

.color {
    color: #dfecfb;
}

a {
    text-decoration: none;
    color: #dfecfb;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
}

#titelh1 {
    display: flex;
    justify-content: center;
    margin-right: 0px;
    padding-top: 2%;
}

.downloaditem {
    background-color: #154271;
    width: 97%;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: thin;
    margin-top: 4%;
    box-shadow: none;
    -webkit-transition: background-color 0.5s, box-shadow 0.5s;
    -moz-transition: background-color 0.5s, box-shadow 0.5s;
    -o-transition: background-color 0.5s, box-shadow 0.5s;
    transition: background-color 0.5s, box-shadow 0.5s;
}

.downloaditem:hover {
    background-color: #04add9;
    -webkit-box-shadow: 8px 7px 0px -5px rgb(255, 255, 255);
    -moz-box-shadow: 8px 7px 0px -5px rgb(255, 255, 255);
    box-shadow: 8px 7px 0px -5px rgb(255, 255, 255);
}

.hovera {
    color: rgb(255, 255, 255);
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
    padding: 0% 0%;
    width: 100%;
    text-align: center;
    padding: 1%;
}

.hovera:hover {
    color: black;
}

.downloadlink {
    display: flex;
    align-items: flex-start;
}

fieldset {
    border-style: none;
    background-color: transparent;
    padding: 0% 0% 0% 0%;
    margin-top: 2%;
}

legend {
    margin: 0% 0% 1% 0%;
    font-size: 18px;
}

input {
    color: white;
    background-color: #154271;
    border-style: solid;
    border-width: thin;
    float: right;
    margin: -3% 0% 0% 0%;
}

textarea {
    color: white;
    background-color: #154271;
    border-style: solid;
    border-width: thin;
    float: right;
    margin: -7% 0% 0% 0%;
}

select {
    color: white;
    background-color: #154271;
    border-style: solid;
    border-width: thin;
    float: right;
    margin: -3% 0% 0% 0%;
}

#specialdiv {
    display: flex;
    /* align-items: end; */
    align-items: center;
    justify-content: space-between;
}

.flexibexi {
    width: 200%;
}

.logoitem {
    width: 18%;
    box-shadow: none;
    border-style: none;
    margin: 2% 0% 0% -3%;
}

.logoimg {
    display: flex;
    align-items: flex-start;
    justify-content: right;
    padding-left: 1.5%;
}

#titel {
    padding-bottom: 5%;
    background-color: #02254b;
}

body {
    color: #dfecfb;
    margin: 0;
}

#liststyle {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0%;
    padding: 0%;
}

main {
    margin-right: 9%;
    margin-left: 9%;
    background-color: #001429;
    box-shadow: 7px 0px 86px 3px rgba(0, 0, 0, 0.7);
    padding-left: 11%;
    padding-right: 11%;
    padding-bottom: 3%;
    padding-top: 6%;
    color: #dfecfb;
}

hr {
    background: rgb(255, 255, 255);
    border: none;
    color: rgb(255, 255, 255);
    height: 2px;
    width: 100%;
}

#specialbild3 {
    box-shadow: none;
    width: 111%;
    margin: 3% 0% 3% -6%;
}

.hrspecial {
    height: 1px;
    width: 100%;
    margin-bottom: 10%;
    background-color: #92929263;
}

h1 {
    margin: 0%;
    text-align: justify
}

h2 {
    font-size: 21px;
    margin-bottom: 5%;
}

ul {
    text-align: justify;
    color: springgreen;
}

b {
    color: springgreen;
}

.style1 {
    text-align: justify;
    margin-top: 5%;
    margin-bottom: 15%;
}

td {
    border: solid 2px white;
    padding-left: 1%
}

p {
    margin-top: 30px;
    text-align: justify;
}

img {
    box-shadow: 10px 9px 0px 0px rgba(155, 155, 155, 0.719);
    width: 100%
}

.begriff {
    background-color: #154271;
    text-align: center;
}

.erklarung {
    background-color: #154271;
    text-align: center;
}

.herv {
    color: #00ff68;
    margin-top: -1%;
}

#mysql {
    width: 100%;
}

.link {
    color: #00ff68;
}

.nobox {
    box-shadow: none;
    padding-left: 2%;
}

.innerjoin {
    width: 30%;
}

.elefant {
    box-shadow: none;
    width: 50%;
    margin-left: 25%;
}

#open {
    float: right;
    position: fixed;
    margin: -2.5% 0% 0% 92%;
    background-color: #04add9;
    padding: 0.45%;
    border-radius: 12px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    z-index: 4;
}

#inhaltsverzeichnis {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    width: 100vW;
    height: 100vH;
    opacity: 0.95;
    color: white;
    text-align: center;
    z-index: 4;
}

.code {
    background-color: #154271;
    padding: 1% 2%;
    -webkit-box-shadow: inset -4px 4px 58px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset -4px 4px 58px -5px rgba(0, 0, 0, 0.75);
    box-shadow: inset -4px 4px 58px -5px rgba(0, 0, 0, 0.75);
    margin-bottom: 9%;
    margin-top: 1%;
    border-color: #ffffff73;
    border-style: solid;
    border-width: thin;
}

#close {
    position: absolute;
    right: 20px;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    margin: 0.25% 0%;
}

.dropdowna {
    text-align: left;
    margin: 0% 3% 0% 2%;
    padding: 1% 1% 1% 1%;
}

.linkbutton {
    margin: 1% 0% 0% 2%;
    padding: 0.5%;
    background-color: #154271;
    float: right;
    display: block;
    width: 26%;
}

.bilder2 {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 4%;
}

#tabelle1 {
    background-color: #015bff40;
    text-align: center;
}

.bildweite {
    width: 40%;
}

#specialbild2 {
    width: 43.2%;
}

table {
    margin-top: 5%;
}

.dropdowna:hover {
    border-radius: 12px;
    box-shadow: 1px 1px 5px 0px rgba(154, 166, 175, 0.7);
}

#ueberschrift {
    margin: 3% 33% 0% 1%;
    padding: 1%;
    font-size: 200%;
    background-color: #bb1524;
    border-radius: 12px;
    box-shadow: 5px 5px 5px 0px rgba(154, 166, 175, 0.7);
}

ol {
    margin-bottom: 8%;
}

#close {
    margin: 4% 7% 0% 0%;
    padding: 1%;
    border-radius: 12px;
    background-color: #bb1524;
    float: right;
    box-shadow: 2px 3px 1px 0px rgba(154, 166, 175, 0.7);
    color: white;
}

.tablestyle {
    /* margin: auto; */
    width: 295px;
    max-width: 295px;
    height: 325px;
    text-align: center;
    border-radius: 4px;
    padding-right: 10px;
}

.trstyle {
    border-style: none;
}

.styletd {
    border-style: none;
}

.inputstyle {
    outline: 0;
    position: relative;
    left: 5px;
    top: 5px;
    border: 0;
    color: #495069;
    background-color: #fff;
    border-radius: 4px;
    width: 60px;
    height: 50px;
    float: left;
    margin: 5px;
    font-size: 20px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

.inputstyle:hover {
    border: 0 solid #000;
    color: #495069;
    background-color: #fff;
    border-radius: 4px;
    width: 60px;
    height: 50px;
    float: left;
    margin: 5px;
    font-size: 20px;
    box-shadow: 0 4px #b0d2cf;
}

.inputstyle:active {
    top: 4px;
    border: 0 solid #000;
    color: #495069;
    background-color: #fff;
    border-radius: 4px;
    width: 60px;
    height: 50px;
    float: left;
    margin: 5px;
    font-size: 20px;
    box-shadow: none;
}

#display {
    width: 97%;
    /* max-width: 270px; */
    font-size: 26px;
    text-align: right;
    background-color: #143e6a;
    /* float: left; */
}

#display:hover {
    font-size: 26px;
    text-align: right;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
}

#display:active {
    top: 5px;
    font-size: 26px;
    text-align: right;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
}

.operator {
    background-color: #cee9ea;
    position: relative;
}

.operator:hover {
    background-color: #cee9ea;
    box-shadow: 0 4px #b0d2cf;
}

.operator:active {
    top: 4px;
    box-shadow: none;
}

#clear {
    float: left;
    position: relative;
    display: block;
    background-color: #ff9fa8;
}

#clear:hover {
    float: left;
    display: block;
    background-color: #F297A0;
    margin-bottom: 15px;
    box-shadow: 0 4px #CC7F86;
}

#clear:active {
    float: left;
    top: 4px;
    display: block;
    background-color: #F297A0;
    margin-bottom: 15px;
    box-shadow: none;
}

@media screen and (max-width: 769px) {
    input {
        color: white;
        background-color: #154271;
        border-style: solid;
        border-width: thin;
        float: right;
        margin: -3% -29% 0% 0%;
        width: 30%;
    }
    legend {
        margin: 0% 0% 1% 0%;
        font-size: 12px;
    }
    select {
        color: white;
        background-color: #154271;
        border-style: solid;
        border-width: thin;
        float: right;
        margin: -3% -27% 0% 0%;
    }
    textarea {
        color: white;
        background-color: #154271;
        border-style: solid;
        border-width: thin;
        float: right;
        margin: 2% -30% 0% 0%;
    }
    a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 9px;
    }
    main {
        margin-right: -1%;
        margin-left: -1%;
        background-color: #001429;
        box-shadow: 7px 0px 86px 3px rgba(0, 0, 0, 0.7);
        padding-left: 5%;
        padding-right: 23%;
        padding-bottom: 3%;
        color: #dfecfb;
    }
    .tablestyle {
        /* margin: auto; */
        width: 295px;
        max-width: 295px;
        height: 325px;
        text-align: center;
        border-radius: 4px;
        padding-right: 10px;
        margin-bottom: 11%;
    }
    #display {
        width: 100%;
        /* max-width: 270px; */
        font-size: 26px;
        text-align: right;
        background-color: #143e6a;
        float: left;
        margin-top: 14%;
        margin-bottom: 1;
    }

    #open {
        float: right;
        position: fixed;
        margin: -5% 0% 0% 86%;
        background-color: #04add9;
        padding: 0.45%;
        border-radius: 12px;
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    }
    #titelbild {
        border-radius: 50px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.75);
        width: 6%;
        float: right;
        margin: 0.6% 0% 0% 1%;
        position: fixed;
    }
    #titelbild:hover {
        background-color: #001429;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }
    h1 {
        margin: 0%;
        text-align: left;
        font-size: 15px;
    }
    #titelh1 {
        display: flex;
        justify-content: center;
        margin-right: 0px;
        padding-top: 2%;
        font-size: 25px;
    }
    p {
        font-size: 10px;
        text-align: left;
    }
    h2 {
        font-size: 14px;
    }
    li {
        font-size: 10px;
        text-align: left;
    }
    td {
        border: solid 2px white;
        text-align: left;
        font-size: 10px;
    }
}